*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 480px) {
  nav li{
    display: block;
    border-bottom: 1px solid #2b3f48;
    float: none;
    margin-right: 0;
  }
}
body{
  font-family: 'News Cycle', sans-serif;
}
nav{
  width: 100%;
  overflow: hidden;
  /*height: 7em;*/
  background-color: rgba(255, 255, 255, .8);
  /*margin-right: 160px;*/
  line-height: 3.5em;
  max-width: 1000px;
  background-color: #e6e6e6;
  margin: auto;
}
header{
  background-color: #e6e6e6;
}
section{
  padding-top: 5em;
}
nav h2{
  float: left;
  font-weight: bold;
  font-size: 2em;
  font-family: 'News Cycle', sans-serif;
  color: #2b3f48;
  /*margin-left: 145px;*/
}
nav ul{
  float: right;
  /*margin-right: 160px;*/
}
nav li {
  float: left;
  color: #2b3f48;
  list-style: none;
  margin-right: 2.5em;
}
nav ul li a{
  display:inline-block;
  color: #2b3f48;
  text-decoration: none;
  font-size: 1.1em;
  list-style: none;
}
nav a:hover{
  color: #27ae61;
}
nav, .fond{
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
.premier{
  /*height: 825px;*/
  background: url(banner.png) no-repeat;
  background-size: cover;
  background-color: #27ae61;
  text-align: center;
  margin: auto;
  padding-bottom: 7em;
}
.premier img{
  border-radius: 50%;
  margin-bottom: 7em;
  margin-right: 2.5em;
  height: 22%;
  width: 22%;
  transition: all 1.5s ease-out;
  box-shadow: 0px 0px 1.2em;
  color: white;
}
.premier img:hover{
  width: 13em;
  height: 13em;
}
h1{
  font-size: 3.2em;
  color: white;
  margin-bottom: 2.5em;
}
.fond h2{
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4em;
}
.blanc{
  font-size: 1.1em;
  color: white;
}
button{
  width: 17.6em;
  height: 4em;
  /*margin-bottom: 100px;*/
  margin-top: 5em;
  border-radius: 0.6em;
  font-size: 1.3em;
  font-weight: bold;
}
.bouton1{
  background-color: #2b3f48;
  color: white;
}
.bouton1:hover{
  color: #31AA65;
}
.deux{
  padding-bottom: 8em;
  background-color: #eee;

}
.gris{
  font-size: 1.1em;
  color: #656565;
}
h3{
  font-size: 3.6em;
  color: #2b3f48;
  margin-bottom: 2em;
}
.bouton2{
  background-color: #27ae61;
  color: white;
}
.bouton2:hover{
  color: #2b3f48;
}
.trois{
  padding-bottom: 8em;
  background-color: #27ae61;
}
.trois a{
  color: white;
}
.trois a:hover{
  color: #2b3f48;
}
.bouton3{
  color: #27ae61;
}
.bouton3:hover{
  color: #2b3f48;
}
.fond h4{
  color: #6f6f6f;
  font-size: 1.3em;
  margin-bottom: 4em;
}
footer{
  background-color: #eee;
  font-size: 1.1em;
  color: #656565;
  margin: auto;
  padding: 4em;
}
footer p{
  margin-top: 4em;
  margin-bottom: 4em;
  /*line-height: 205px;*/
  text-align: center;
  letter-spacing: 0.3em;
}
footer a{
  text-decoration: none;
  color: #2b3f48;
}
